@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-regular-webfont.woff2') format('woff2'),
       url('../fonts/lato-regular-webfont.woff') format('woff'),
       url('../fonts/lato-regular-webfont.ttf') format('truetype'),
       url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoHeavy';
  src: url('../fonts/lato-heavy-webfont.eot');
  src: url('../fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-heavy-webfont.woff2') format('woff2'),
       url('../fonts/lato-heavy-webfont.woff') format('woff'),
       url('../fonts/lato-heavy-webfont.ttf') format('truetype'),
       url('../fonts/lato-heavy-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-regular.woff2') format('woff2'),
       url('../fonts/opensans-regular.woff') format('woff'),
       url('../fonts/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans-italic.eot');
  src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-italic.woff2') format('woff2'),
       url('../fonts/opensans-italic.woff') format('woff'),
       url('../fonts/opensans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/opensans-semibold.eot');
  src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-semibold.woff2') format('woff2'),
       url('../fonts/opensans-semibold.woff') format('woff'),
       url('../fonts/opensans-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
