{% extends 'partials/base.html.twig' %}

{% block content %}

	<p>
		<em>Last update: January 4, 2017</em>
	</p>
	
	<h2>ShadowMarket Roadmap</h2>
	<p>
		The next phase of development will culminate in a decentralized in-wallet marketplace where users will be able to buy and sell goods, currencies (think LocalBitcoins but decentralized) and services safely and privately. In combination with the currency and encrypted messaging system it will form the basis for an entire private decentralized economy accessed through a single application, Shadow.
	</p>
	<h3>2017</h3>
	<table>
		<tr>
			<th class="status"><i class="icon ico-tbd"></i></th>
			<td>Multisig support for ShadowTokens</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-tbd"></i></th>
			<td>ShadowMarket release</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-tbd"></i></th>
			<td>Beta testing phase (public)</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-tbd"></i></th>
			<td>Feedback and rating-system</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-tbd"></i></th>
			<td>Correction round</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-tbd"></i></th>
			<td>Alpha testing phase (private/internal)</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-current"></i></th>
			<td>Connecting the buttons to the engine! Linking the back-end (system) to the front-end (graphical interface)</td>
		</tr>
	</table>

	<h3>2016</h3>
	<table>
		<tr>
			<th class="status"><i class="icon ico-done"></i></th>
			<td>Graphical User Interface (GUI) 2.0</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-done"></i></th>
			<td>BIP65 (Smart Escrow support)</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-done"></i></th>
			<td>ShadowChat upgrade for ShadowMarket</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-done"></i></th>
			<td>HD Wallet (BIP 32, 39 and 44)</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-done"></i></th>
			<td>ShadowCore &amp; ShadowMarket front-end development 1.0 (HTML/JS/CSS)</td>
		</tr>
	</table>
	
	<h2>ShadowProject Roadmap</h2>

	<h3>2016</h3>
	<table>
		<tr>
			<th class="status"><i class="icon ico-done"></i></th>
			<td>Group chat (September)</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-done"></i></th>
			<td>Fixed KeyImage bug</td>
		</tr>
		<tr>
			<th class="status"><i class="icon ico-done"></i></th>
			<td><a href="https://github.com/shadowproject/shadow/releases/tag/v1.4.0.1">Switched to POSv3</a></td>
		</tr>
	</table>

	<h3>2015</h3>
	<table>
		<tr>
			<th>October&nbsp;23th</th>
			<td>New Ring Signatures Algorithm with improved efficiency</td>
		</tr>
		<tr>
			<th>October&nbsp;1st</th>
			<td><a href="https://github.com/shadowproject/shadow/releases/tag/v1.3.3.3">Release of the Hierarchical Deterministic wallet - <em>v1.3.3</em></a></td>
		</tr>
		<tr>
			<th>April&nbsp;21th</th>
			<td>Fork : POS v2</td>
		</tr>
		<tr>
			<th>March</th>
			<td>Work on Market start</td>
		</tr>
	</table>

	<h3>2014</h3>
	<table>
		<tr>
			<th>December</th>
			<td>ShadowSend update: Ring Signatures and Non-Interactive Zero Knowledge Proofs</td>
		</tr>
		<tr>
			<th>September</th>
			<td>New wallet (HTML5) UI look and feel, scaling to different resolutions and devices</td>
		</tr>
		<tr>
			<th>Aug&ndash;Sept</th>
			<td>ShadowLite Released</td>
		</tr>
		<tr>
			<th>August&nbsp;19th</th>
			<td>ShadowGo Released (iOS)</td>
		</tr>
		<tr>
			<th>August&nbsp;12th</th>
			<td>ShadowGo is a fully functional mobile wallet that supports staking, P2P encrypted messaging and stealth transfers (released for Android)</td>
		</tr>
		<tr>
			<th>August&nbsp;7th</th>
			<td>ShadowSend (uniquely implemented dual-key stealth addresses to be layered with ZK-snarks)</td>
		</tr>
		<tr>
			<th>July&nbsp;30th</th>
			<td>Transition from Proof-of-Work to Proof-of-Stake, ShadowChat released (instant P2P encrypted messaging) and updated with richtext support</td>
		</tr>
		<tr>
			<th>July&nbsp;19th</th>
			<td>Founded</td>
		</tr>
		<tr>
			<th>July&nbsp;17th</th>
			<td>Pre-announcement</td>
		</tr>
	</table>

{% endblock %}
