{% extends 'partials/base.html.twig' %}

{% block content %}

	{{ page.content }}

  <ul class="block-grid-3">

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">Rynomster</div>
        <div class="title">Lead &amp; Core Developer</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="SdcDevWEbq3CZgZc8UNbST1TaYLA5vLZTS">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="1GiosBkSpN8RS9pm1kgZU8AZUBEnLKYFem">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">tecnovert</div>
        <div class="title">Core Developer</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="?????????">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="?????????">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">crz</div>
        <div class="title">Branding/Graphics, Shadow UI, UI/UX Designer, Core Developer</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="?????????">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="?????????">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">ffmad</div>
        <div class="title">General relations, Shadowproject Websites, Core Developer</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="?????????">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="?????????">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">dasource</div>
        <div class="title">Explorer, Testing, Infrastructure</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="?????????">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="?????????">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">ludx</div>
        <div class="title">Explorer, Testing, Infrastructure</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="?????????">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="?????????">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">Edu</div>
        <div class="title">Media Liaison/PR, Community Manager</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="?????????">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="?????????">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">SebSebastian</div>
        <div class="title">Media Liaison/PR, reddit</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="?????????">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="?????????">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">Code</div>
        <div class="title">Websites Developer, Community Manager</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="SPJfRzAaKQ3CRPyDycmfzmJFvU33uURGmp">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="15PbtZY3Ch35bxkRLQ2KS4Mj16WqWAKjWf">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar"></div>
      <div class="text">
        <div class="name">Allien</div>
        <div class="title">Websites Designer, Front-end Developer</div>
        <div class="contact">PGP: XXXXX</div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="Shb9HbMWjudqhA2U9EBe6vDACGuv3kTXdu">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="1Aqbc5M4Wt5KiZK5mq7VzQ4gWJKJGUufpW">
        </div>
      </div>
    </li>

  </ul>


  <h3 id="former-members">Active Contributors</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>What do I do?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Wheatclove</strong></td>
        <td>Bug Testing, Apprentice</td>
      </tr>
      <tr>
        <td><strong>Litebit</strong></td>
        <td>Community projects (Tutorials etc.)</td>
      </tr>
      <tr>
        <td><strong>Erok</strong></td>
        <td>Community projects (Tutorials etc.)</td>
      </tr>
    </tbody>
  </table>

  <h3 id="former-members">Former Members</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>What do I do?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>St3bas</strong></td>
        <td>Core developer</td>
      </tr>
      <tr>
        <td><strong>Trollsroyce</strong></td>
        <td>Media Liaison/PR</td>
      </tr>
    </tbody>
  </table>

{% endblock %}