{% extends 'partials/base.html.twig' %}

{% block content %}

	{{ page.content }}

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>What do I do?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>rynomster</strong></td>
        <td>Lead developer, Core developer</td>
      </tr>
      <tr>
        <td><strong>tecnovert</strong></td>
        <td>Core developer</td>
      </tr>
      <tr>
        <td><strong>crz</strong></td>
        <td>Branding/Graphics, Shadow UI, UI/UX designer, Core developer</td>
      </tr>
      <tr>
        <td><strong>ffmad</strong></td>
        <td>General relations, Shadowproject websites, Core developer</td>
      </tr>
      <tr>
        <td><strong>dasource</strong></td>
        <td>Explorer, testing, infrastructure</td>
      </tr>
      <tr>
        <td><strong>ludx</strong></td>
        <td>Explorer, testing, infrastructure</td>
      </tr>
      <tr>
        <td><strong>Edu</strong></td>
        <td>Media Liaison/PR, Community Manager</td>
      </tr>
      <tr>
        <td><strong>SebSebastian</strong></td>
        <td>Media Liaison/PR, reddit</td>
      </tr>
      <tr>
        <td><strong>Code</strong></td>
        <td>Shadowproject websites developer, Community manager</td>
      </tr>
      <tr>
        <td><strong>Allien</strong></td>
        <td>Shadowproject websites designer, Front-end developer</td>
      </tr>
      <tr>
        <td><strong>wheatclove</strong></td>
        <td>Bug testing, Apprentice</td>
      </tr>
    </tbody>
  </table>

  <h3 id="former-members">Active Contributors</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>What do I do?</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>Litebit</strong></td>
        <td>Community projects (Tutorials etc.)</td>
      </tr>
      <tr>
        <td><strong>Erok</strong></td>
        <td>Community projects (Tutorials etc.)</td>
      </tr>
    </tbody>
  </table>

  <h3 id="former-members">Former Members</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>What do I do?</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>St3bas</strong></td>
        <td>Core developer</td>
      </tr>
      <tr>
        <td><strong>Trollsroyce</strong></td>
        <td>Media Liaison/PR</td>
      </tr>
    </tbody>
  </table>

{% endblock %}