{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}
{% endblock %}

<div class="meta">
    <p>Author: {{ page.header.author.name }} | Last update: {{ page.header.updated.name }}</p>
    <p><a href="../" class="secondary button">Back to all Tutorials</a></p>
</div>